form {
    margin-bottom: 48px;
    margin: 0 auto;
}

.login-buttons {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-medium);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 24px
}

.lost-access-container {
    margin: 0 auto;
    text-align: center;
}

.form-fields {
    margin-bottom: 48px;
}

main {
    width: var(--usable-size);
    margin: 0 auto;
}

.icon-input input {
    width: var(--usable-size);
}