<div class="bottom-bar">
    <nav class="bottom-bar-menu">
        <div class="bottom-bar-button active">
            <div class="bottom-bar-button-icon-container">
                <div class="bottom-bar-button-icon active" [inlineSVG]="'/icons/inicio.svg'"></div>
            </div>
            <span class="bottom-bar-button-title label-3">Início</span>
        </div>
        <div class="bottom-bar-button">
            <div class="bottom-bar-button-icon">
                <div class="bottom-bar-button-icon" [inlineSVG]="'/icons/turmas.svg'"></div>
            </div>
            <span class="bottom-bar-button-title label-3">Turmas</span>
        </div>
        <div class="bottom-bar-button">
            <div class="bottom-bar-button-icon">
                <div class="bottom-bar-button-icon" [inlineSVG]="'/icons/ensino.svg'"></div>
            </div>
            <span class="bottom-bar-button-title label-3">Ensino</span>
        </div>
        <div class="bottom-bar-button">
            <div class="bottom-bar-button-icon">
                <div class="bottom-bar-button-icon" [inlineSVG]="'/icons/docs.svg'"></div>
            </div>
            <span class="bottom-bar-button-title label-3">Docs</span>
        </div>
    </nav>
</div>
