.logo {
    fill: var(--primary);
    align-self: center;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    align-items:end;
    width: var(--usable-size);
    margin-bottom: 32px;
    margin-inline: auto;
}