<header>

    <label class="toggle-switch dark-mode-switch">
        <input class="toggle-switch-input" type="checkbox" checked/>
        <span class="toggle-switch-slider dark-mode-switch"><!--<div [inlineSVG]="'assets/icons/light-mode.svg'" class="slider-icon"></div>--></span>
    </label>

    <!-- <div class="dark-mode-switch-container">
        <label for="" class="dark-mode-switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div> -->
    <!-- <img src="../../../../public/img/logo.svg" alt=""> -->

    <div [inlineSVG]="'/img/logo.svg'" class="logo">
    </div>
</header>