@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* ==================================================== */
    /* ---------------SIZES AND SPACEMENT------------------ */
    /* ==================================================== */

    --screen-size: 360px;
    --usable-size: 328px;

    --icon-smaller: 16px;
    --icon-small: 20px;
    --icon-medium: 24px;
    --icon-big: 40px;

    --corner-none: 0;
    --corner-smaller: 4px;
    --corner-small: 8px;
    --corner-medium: 12px;
    --corner-large: 16px;
    --corner-larger: 28px;
    --corner-full: 1000px;

    --space-tiny: 4px;
    --space-extra-small: 8px;
    --space-smaller: 12px;
    --space-small: 16px;
    --space-medium: 24px;
    --space-large: 32px;
    --space-larger: 48px;
    --space-extra-large: 64px;
    --space-enormous: 96px;
    --space-giant: 128px;
    --space-gigantic: 248px;


    /* =============================================== */
    /* ---------------COLOR PALETTES------------------ */
    /* =============================================== */

    /* ----------------------------------------------- */
    /* ---------------SUPPORT - NEUTRAL--------------- */
    --neutral-0: #fff;
    --neutral-100: #f5f5f5;
    --neutral-200: #dedede;
    --neutral-300: #bfbfbf;
    --neutral-400: #b0b0b0;
    --neutral-500: #757575;
    --neutral-600: #484848;
    --neutral-700: #3b3b3b;
    --neutral-800: #1c1c1c;
    --neutral-900: #000;

    /* ================================================ */
    /* ---------------SEMANTIC COLORS------------------ */
    /* ================================================ */

    /* ---------------------------------------------- */
    /* ---------------ROOT - COMMON------------------ */
    --background: var(--neutral-0);
    --modal-background: var(--neutral-0);
    --bar-background: var(--neutral-100);
    --body-text: var(--neutral-900);
    --body-text-low: var(--neutral-700);
    --body-text-lower: var(--neutral-500);
    --label: var(--neutral-500);
    --button-icon: var(--neutral-400);
    --button-hover: var(--neutral-100);
    --button-pressed: var(--neutral-200);
    --separator: var(--neutral-200);

    /* ------------------------------------------- */
    /* ---------------BOTTOM BAR------------------ */
    --bottom-bar-unactive-text: var(--neutral-300);
    --bottom-bar-active-text: var(--primary);
    --bottom-bar-active-background: var(--standard-0);

    /* ----------------------------------------------- */
    /* ---------------THEME - STANDARD--------------- */
    --standard-0: #ebecf2;
    --standard-100: #acb3ca;
    --standard-200: #8a93b4;
    --standard-300: #576594;
    --standard-400: #35457e;
    --standard-500: #253058;
    --standard-600: #202740;

    --primary: var(--standard-400);
    --primary-hover: var(--standard-500);
    --primary-pressed: var(--standard-600);
    --primary-text: var(--standard-0);

    --secondary: var(--background);
    --secondary-hover: var(--neutral-200);
    --secondary-pressed: var(--standard-100);
    --secondary-text: var(--primary);

    --tertiary: transparent;
    --tertiary-hover: var(--neutral-200);
    --tertiary-pressed: var(--standard-100);
    --tertiary-text: var(--primary);

    /* ------------------------------------------- */
    /* ------------------FORM--------------------- */
    --form-input-stroke: var(--neutral-500);
    --form-input-placeholder: var(--neutral-300);
    --form-input-focus: var(--primary);


    --elevation-light-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --elevation-light-2: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);

    font-family: 'Open Sans', serif;
    font-size: 16px;
    color: var(--body-text);
}

body {
    /* padding: 0 16px; */
    margin: 16px;
    width: 360px;
}

/* =========================================== */
/* ---------------TYPOGRAPHY------------------ */
/* =========================================== */

.allcaps {
    text-transform: uppercase;
}
.heading-1, .heading-2, .heading-3, .title-1, .title-2, .title-3, .body-2, .body-3, .label-3, .link-1, .link-2, .link-3 {
    margin: 0;
}

.link-1, .link-2, .link-3 {
    cursor: pointer;
}

.heading-1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem; /* 125% */
}

.heading-2 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.25rem; /* 128.571% */
}

.heading-3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem; /* 128.571% */
}

.title-1 {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.75rem; /* 127.273% */
}

.title-2 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem; /* 120% */
}

.title-3 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem; /* 137.5% */
}

label, .body-2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
}

.body-3 {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.label-1 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem; /* 137.5% */
    letter-spacing: 0.03rem;
    text-transform: uppercase;
}

.label-3 {
    font-weight: 700;
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: calc(1rem * 0.03) /* 3% */;
    text-transform: uppercase;
}

.link-1, .link-2, .link-3 {
    color: var(--primary);
}

.link-1:hover, .link-2:hover, .link-3:hover {
    color: var(--primary-pressed);
}

.link-3 {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 10%; /* 1.4px */
    text-underline-offset: 10%; /* 1.4px */
    text-underline-position: from-font;
}

/* ====================================== */
/* ---------------BUTTONS------------------ */
/* ====================================== */
button {
    border: none;
    outline: none;
    cursor: pointer;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: var(--corner-full);
    width: var(--usable-size);
    box-sizing: border-box;
    cursor: pointer;
    display: block;
}

.button-standard {
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem; /* 137.5% */
    letter-spacing: 0.03rem;
    text-transform: uppercase;
}

.button-primary {
    background-color: var(--primary);
    color: var(--primary-text);
}

.button-primary:hover {
    background-color: var(--primary-hover);
    color: var(--primary-text);
}

.button-secondary {
    background-color: var(--secondary);
    color: var(--secondary-text);
    border: 2px solid var(--secondary-text)
}

.button-secondary:hover {
    background-color: var(--secondary-hover);
    color: var(--secondary-text);
    border: 2px solid var(--secondary-text);
}

.button-tertiary-container {
    display: flex;
    column-gap: var(--space-extra-small);
    margin: 0 auto;
    align-items: center;
    padding: 4px 12px;
    justify-content: center;
    border-radius: var(--corner-full);
}

.button-tertiary-container .icon {
    height: 20px;
}

.button-tertiary {
    width: fit-content;
    padding: 0;

    background-color: var(--tertiary);
    color: var(--tertiary-text);
}

.button-tertiary-container:hover {
    background-color: var(--tertiary-hover);
    color: var(--tertiary-text);
}

/* ====================================== */
/* ---------------FORMS------------------ */
/* ====================================== */

input, select {
    font-family: 'Open Sans', serif;

    /* body 3 */
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    width: 100%;
}

::placeholder {
    color: var(--form-input-placeholder);
}

.label-container {
    display: flex;
    width: 100%;
    column-gap: 4px;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    width: var(--usable-size);
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: var(--space-tiny);
    align-items: flex-end;
    width: 100%;
}

.form-input input, .form-input select {
    box-sizing: border-box;
    border-radius: var(--corner-small);
    border: 1px solid var(--form-input-stroke);
    width: 100%;
    height: 40px;
    padding: 10px 12px;
}

.form-input input:focus,.form-input select:focus {
    outline: none;
    border: 2px solid var(--form-input-focus);
    box-shadow: var(--elevation-light-1);
}

/* ------------------------------- */
/* --------- Icon input --------- */
/* ------------------------------ */
.icon-input {
    position: relative;
}

.icon-input::before {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-41%);
    pointer-events: none;
}

.user-input::before {
    content: url('/icons/user.svg'); /* Caminho para o ícone */
}

.password-input::before {
    content: url('/icons/password.svg'); /* Caminho para o ícone */
}

.form-input .icon-input input {
    padding-left: 36px;
}

input[required] ~ .label-container label::after {
    content: "*";
    color: red;
    margin-left: 4px; /* Espaço entre o texto da label e o asterisco */
}

/* ------------------------------- */
/* -------- Toggle switch -------- */
/* ------------------------------- */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
    margin-right: 8px;
}

/* Hide default checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The track */
.toggle-switch-slider {
    position: absolute;
    cursor: pointer;
    background-color: var(--standard-0);
    border: 2.25px solid var(--primary);
    border-radius: 24px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

/* The circular slider */
.toggle-switch-slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: var(--primary);
    border-radius: 50%;
    transition: transform 0.3s;
}

/* Toggled state */
.toggle-switch input:checked+.toggle-switch-slider {
    background-color: var(--primary);
}

/* .toggle-switch.dark-mode-switch input:checked+.toggle-switch-slider {
    background-image: url(/icons/light_mode.svg) no-repeat;
} */

.toggle-switch input:checked+.toggle-switch-slider::before {
    transform: translateX(22px);
    background-color: var(--standard-0);
}

/* ------------------------------- */
/* ----------- Tooltip ----------- */
/* ------------------------------- */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-icon {
    width: 16px;
    height: 16px;
    display: block;
    fill:var(--form-input-stroke)
}
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--form-input-stroke);
    color: var(--background);
    text-align: center;
    padding: var(--space-tiny);
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--form-input-stroke) transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

span.separator {
    background-color: var(--neutral-200);
    height: 1px;
    width: 248px;
    border-radius: var(--corner-full);
}

main {
    margin: 0 auto;
    width: var(--usable-size);
}